<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="滴答滴答"
        android:supportsRtl="true"
        android:theme="@style/Theme.DidaDida">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.DidaDida">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Shortcut 动作（只用来接收 shortcut 点击，不需要 filter） -->
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
    </application>
</manifest>
